<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AngularJs</title>
  <link rel="icon" href="src/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
 <link rel="stylesheet" href="node_modules/icheck/skins/flat/blue.css" >
 <link rel="stylesheet" type="text/css" href="src/css/angular-nl.css">
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="node_modules//bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
  <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="node_modules/icheck/icheck.min.js"></script>
	<style type="text/css">	 
   body{overflow-y: scroll} 
   .clearfix{ zoom:1;} 
   .clearfix:after{ content:''; display:block; clear:both;}
   ul,li{list-style: none;padding:0;margin:0;}
   #viewContainer,#navcontainer{width: 80%;margin:0 auto;}
   .innerCtr{background-color: #3598db;padding:20px;box-sizing: border-box;margin:10px 0;color:#333;border-radius: 3px}
	</style>
</head>
<body>
<div ng-app="myApp" ng-controller="personCtrl">
<div>
  <div id="navcontainer">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grcnpmouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">AngularJS Demo</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li  ui-sref-active="active"><a ui-sref="bootstrap">bootstrap</a></li>
            <li  ui-sref-active="active"><a ui-sref="ngForm">NG-Form</a></li>
            <li  ui-sref-active="active"><a ui-sref="uiView">路由</a></li>
            <li  ui-sref-active="active"><a ui-sref="directive">指令</a></li>
            <li class="dropdown" ui-sref-active="active">
              <a href="#/F8" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">F8 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">镜像</a></li>
                <li><a href="#">容器</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">kubernetes</a></li>
              </ul>
            </li>
          </ul>
         
          <ul class="nav navbar-nav navbar-right">
            <li><a>Layout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</div> 
<div ui-view id="viewContainer"></div>
</div>
<script>
var BASEURL="http://localhost:3000/";
var app = angular.module('myApp',['ui.router','ui.bootstrap']);
app.controller('personCtrl', function($scope,$location,$uibModal,$http) {
  $scope.alerts = [];
  $scope.addAlert = function () {
      $scope.alerts.push({ msg: '这是一条消息!' });
  };
  $scope.name="我是最外层的控制器数据";
   $scope.dat = new Date();
     $scope.format = "yyyy/MM/dd";
     $scope.altInputFormats = ['yyyy/M!/d!'];
     $scope.popup1 = {
         opened: false
   };
   $scope.open1 = function () {
      $scope.popup1.opened = true;
  };
  
 $scope.modal=null;
 $scope.maxSize = 5;
 $scope.totalItems = 175;
 $scope.currentPage = 1;
 var confirmTemplate = ["<h3>我是一个dialaog</h3><button  ng-click='closeModal()'>关闭模态框</button>"].join("")
  $scope.showModal=function(){
    $scope.modal=$uibModal.
    open({
      scope:$scope,
      template:confirmTemplate
    })
  };
  $scope.closeModal=function(){
      $scope.modal.close();
  }
});
app.controller("formCtrl",function($scope){
   $scope.userdata = {};
   $scope.submitForm = function(){     
      if($scope.myForm.$invalid){
        alert("请检查表单提交信息！");
        return false;
      }else{
        console.log($scope.userdata);
        alert("提交成功！")
      }      
   };
   $scope.resetForm=function(){
     location.reload(); 
   }
});
app.directive("compare",function(){
  return{
    "strict":"AE",
    "scope":{"orgText":"=compare"},
    "require":"ngModel",
    "link":function(sco,ele,att,con){
      con.$validators.compare=function(v){
        return v==sco.orgText
      };
      sco.$watch("orgText",function(){
        con.$validate();
      })
    }
  }
});
//icheck指令
app.directive('icheck', function($timeout, $parse) {
 return {
  require: 'ngModel',
  link: function($scope, element, $attrs, ngModel) {
   return $timeout(function() {
    var value;
    value = $attrs['value'];
    $scope.$watch($attrs['ngModel'], function(newValue){
     $(element).iCheck('update');
    })
    return $(element).iCheck({
     checkboxClass: 'icheckbox_flat-blue',
     radioClass: 'iradio_flat-blue',
     checkedClass:'checked'
    }).on('ifChanged', function(event) {
     if ($(element).attr('type') === 'checkbox' && $attrs['ngModel']) {
      $scope.$apply(function() {
       return ngModel.$setViewValue(event.target.checked);
      });
     }
     if ($(element).attr('type') === 'radio' && $attrs['ngModel']) {
      return $scope.$apply(function() {
       return ngModel.$setViewValue(value);
      });
     }
    });
   });
  }
 };
});
//指令页面的Ctrl
app.controller('directiveCtrl',function($scope,$http){
  $scope.name="parentCtrl";
  $scope.showMyFavor=function(fav){
    alert(fav)
  };
  $scope.tabsData=[
    {"title":"angualr","content":"google"},
    {"title":"vue","content":"尤雨溪"},
    {"title":"react","content":"faceBook"}
  ];
  $scope.getTableData=function(){
      $http({
        method:"GET",
        url:BASEURL+"getData"
      }).success(function(data,status,headers,config){
        $scope.tableDatas=data.message;
      }).error(function(data,status,headers,config){
        console.log(data)
      })
  };
  $scope.getTableData();
})
app.directive("bigMenu",function(){
  return{
    restrict:"AE",
    template:'<div class="innerCtr"><input ng-model="name"/>我的年龄是{{age}}<button ng-click="showFav({fav:fav})">点击才能看到我的兴趣爱好哟！</button></div>',
    replace:false,
    scope:{
      name:'=aaa',
      age:"@myAge",
      showFav:"&myFn",
      fav:'@'
    },
    // controller:['$scope',function($scope){
    //   $scope.name="我是指令内部控制器数据"
    // }],
    link:function(scope,el,attrs){
      //console.log(attrs.class);
      //console.log(el);   
      
    }
  }
});
app.controller('PaginationDemoCtrl', function ($scope) {
    $scope.setPage = function (pageNo) {
      $scope.currentPage = pageNo;
    };

    $scope.changePage = function() {
      $scope.getTableData();
    };

    $scope.maxSize = 5;
    $scope.totalItems = 175;
    $scope.currentPage = 1;
    $scope.itemsPerPage=15;
  });
</script>
<script type="text/javascript" src="src/js/route.js"></script>
<script type="text/javascript" src="src/directive/nl-tab/nl-tabs.js"></script>
</body>
</html>
