<div id="directiveWrap" ng-controller="directiveCtrl">
<style>
*{margin:0;padding:0;}
.echartCss{height:100%;width: 100%;}
.chartItem{padding:0 5px;}
.chartHead{padding-left:15px;color:#fff;height:40px;line-height:40px;background-color: #7ec2f3;}
.chartBody{height:320px;width: 100%;}
</style>
	<h3>ui-grid组件</h3>
	<div ui-grid="gridOptions1" ui-grid-pagination class="grid"></div>
	<hr/>
    <h3>提示组件</h3>
    <button type="button" class="btn btn-success" ng-click="showNotice({text:'我是成功的信息',type:'success'})">（成功）Success</button>
    <button type="button" class="btn btn-primary" ng-click="showNotice({text:'我是提示的信息',type:'info'})">（一般信息）Info</button>
    <button type="button" class="btn btn-warning" ng-click="showNotice({text:'我是警告的信息',type:'warning'})">（警告）Warning</button>
    <button type="button" class="btn btn-danger"  ng-click="showNotice({text:'我是错误信息的样子',type:'error'})">（危险）Danger</button>
    <hr/>
    <h3>日期组件</h3>
    <div>
		<input nl-jedate nl-jedateoption="jedateoption" class="workinput wicon" id="test1" type="text" placeholder="YYYY年MM月DD日 hh:mm:ss" readonly>
    </div>
    <hr/>
	<h3>Tab组件</h3>
	<nl-tabs tabs-data="tabsData"></nl-tabs>
	<hr/>
	<h3>分页组件</h3>
	<div>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>姓名</th>
				<th>身份证号</th>
				<th>年龄</th>
				<th>学历</th>
				<th>不可描述</th>
			</tr>
		</thead>
		<tbody>
		    <tr ng-repeat="(key,value) in tableDatas">
		      <td class="active">{{value.name}}</td>
		      <td class="success">{{value.id}}</td>
		      <td class="warning">{{value.age}}</td>     
		      <td class="info">{{value.education}}</td>
		      <td class="danger">{{value.desciption}}</td>
		    </tr>
	    </tbody>
	</table>
	</div>
	<div class="clearfix" ng-controller="PaginationDemoCtrl"> 
		<div style="float:left;position: relative;top:7px;color:#337ab7">总条数:{{totalItems}}</div>
		
	    <div style="float:right;position: relative;top:7px;margin-left:10px;color:#337ab7">
	    	Page: {{currentPage}} / {{numPages}}
	    </div>
	    <div style="float:right">
		    <ul uib-pagination 
		    total-items="totalItems" 
		    ng-model="currentPage" 
		    max-size="maxSize" 
		    boundary-links="true" 
		    rotate="false" 
		    next-text="下一页" 
		    last-text="最后一页" 
		    previous-text="上一页" 
		    first-text="第一页" 
		    num-pages="numPages"
		    items-per-page="itemsPerPage"
		    ng-change="changePage()"></ul>
	    </div>
	</div>
	<hr/>
	<h3>echarts指令</h3>
	<div ng-controller="echartsController">
		 <div style="margin-bottom:10px;margin-left: 5px"><button ng-click="refreshChart()" class="btn btn-primary">切换数据</button></div>
		 <div>
			<div class="col-md-4 chartItem">
				<div class="panel panel-primary">
					<div class="panel-heading">柱状图</div>
					<div class="chartBody panel-body">
						<nl-echarts class="col-md-12 echartCss" nl-config="lineConfig" nl-option="lineOption1"></nl-echarts>
					</div>
				</div>
			</div>
			<div class="col-md-4 chartItem">
				<div class="panel panel-primary">
					<div class="panel-heading">饼图</div>
					<div class="chartBody panel-body">
						 <nl-echarts class="col-md-12 echartCss" nl-config="lineConfig" nl-option="lineOption2"></nl-echarts>
					</div>
				</div>
			</div>
			<div class="col-md-4 chartItem">
				<div class="panel panel-primary">
					<div class="panel-heading">折线图</div>
					<div class="chartBody panel-body">
						<nl-echarts class="col-md-12 echartCss" nl-config="lineConfig" nl-option="lineOption3"></nl-echarts>
					</div>
				</div>
			</div>
		 </div>	    
	</div>
</div>

